:root{
    --main-color:#481d1d;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.tote{
    width: 230px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav1{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.navA{  
    color: var(--main-color);
    text-decoration: none;
    font-size:18px;
    align-items: center;
}
.navA i{
    font-size: 25px;
}
.navA:hover{
    text-decoration: underline;
}
.pa{
    display: flex;
    height: 150px;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
}
.bagimg{
    width:257px ;
    height:386px ;
}
.bagbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 50px;
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.bag{
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: opacity linear;
    animation-timeline: view();
    animation-range: 1% 30%;
}
.baglink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.baglink a{
    color: var(--main-color);
    text-decoration: none;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height:100vh;
    font-size: 30px;
    color: var(--main-color);
}
.about h3{
    text-align: center;
    width: 80%;
    font-size: 45px;
    line-height: 150%;
    word-spacing: 15px;
}
.blur{
    animation: blur 5s linear;
    animation-timeline: view(90% 5%);
}
@keyframes blur {
    from{
        filter: blur(15px);
    }
    to{
        filter: blur(0px);
    }
}
.back{
    background-image: url(https://static.wixstatic.com/media/c837a6_8395cc604156434e91bb7a005565bcc9~mv2.jpg/v1/fill/w_1336,h_870,fp_0.56_0.51,q_85,usm_0.66_1.00_0.01,enc_auto/weavy-Gemini-3-Nano-Banana-Pro-2026-02-02-at-16_06_13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    color: rgb(251, 255, 13);
}
footer{
    display: flex;
    padding: 30px;
}
.footerleft{
    width: 50%;
    height: 100vh;
}
.footerleft img{
    width: 250px;
}
.footerright{
    width: 80%;
}
.ani{
    transition: 0.4s ;
    animation: ani linear;
    animation-timeline: view();
    animation-range: 1% 50%;

}
@keyframes ani {
    from{
        transform:rotate(20deg);
        opacity: 0.5;
    }
    to{
        transform:rotateY(0);
        opacity: 1;
    }
    
}
.footer1{
    display: flex;
    justify-content: space-around;
    
}
.footer1 div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--main-color);
}
.links{
    margin-top: 70px;
}
.links a{
    font-size: 18px;
    color: var(--main-color);
}
.footerright .social{
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 70px;
    gap: 20px;
}
.social a{
    height: max-content;
    font-size: 30px;
    color: black;
}
.footer2{
    padding: 30px;
    color: var(--main-color);
    height: 60vh;
    margin-top: 30px;
}
.ch1{
    display: flex;
    flex-direction: column;
    height: 20vh;
    row-gap: 20px;
}
.ch2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-top: 20px;
}
.mail{
    width: 500px;
    border: 1px solid var(--main-color);
    outline: none;
}
.mail:focus{
    border: none;
    border-bottom: 1px solid var(--main-color);
}
.mailbox{
    width:max-content ;
    transform: translateX(-500px);
    font-size: 15px;
}
.mail:focus+.mailbox{
    transform: translateY(-20px) translateX(-500px);
}
.mailLink{
    display: flex;
    background-color: #481d1d;
    color: white;
    text-decoration: none;
    padding: 20px;
    height: 20px;
    width: 210px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ch3{
    margin-top: 10px;
    display: flex;
    width: max-content;
    align-items: center;
    gap: 20px;
}
.check{
    width: 16px;
    height: 16px;
    
}
.end{
    margin-top: 40px;
}